@model AccordionBlock

<div class="well" id="accordion">
    <div>
        <h4><a data-toggle="collapse" data-parent="#accordion" href="#collapseDNF">Accordion heading..</a></h4>
    </div>
    <div id="collapseDNF" class="collapse in">
    
   Accordian detail descripton text content would be palced inside this block..
    </div>
</div>
