@model ArticleBlock


@{
    var repository = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.IContentRepository>();

    // Get content (page or block) with ID 5
    // var contentReference = new EPiServer.Core.ContentReference(5);

    // Get the page (or block)
    var articlePage = repository.Get<ArticlePage>(Model.ArticlePageReference);

    // var ArticlePage = Model.ArticlePageReference.ParseReference(.se.GetType() as ArticlePage;
}


<div class="tab col-md-4 col-sm-6 col-xs-12">
    <input id="tab-@(articlePage.ID)" type="checkbox" name="tabs">
    <label for="tab-@(articlePage.ID)">@articlePage.Heading</label>
    <div class="tab-content">
        @Html.Raw(articlePage.Description.ToHtmlString().Substring(0, 150)) <img src="@EPiServer.Web.Routing.UrlResolver.Current.GetUrl(articlePage.Image)" style="width:80px;height:80px" />
        <br /><a href="@articlePage.LinkURL"><b>Read More</b></a>
    </div>
</div>






@*<div class="wrapper container">


        <div class="half row">

            <div class="tab col-md-4 col-sm-6 col-xs-12">
                <input id="tab-one" type="checkbox" name="tabs">
                <label for="tab-one">Label One</label>
                <div class="tab-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
                </div>
            </div>
            <div class="tab col-md-4 col-sm-6 col-xs-12">
                <input id="tab-two" type="checkbox" name="tabs">
                <label for="tab-two">Label Two</label>
                <div class="tab-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
                </div>
            </div>
            <div class="tab col-md-4 col-sm-6 col-xs-12">
                <input id="tab-three" type="checkbox" name="tabs">
                <label for="tab-three">Label Three</label>
                <div class="tab-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
                </div>
            </div>
        </div>


    </div>*@

