@model CareerBlock



<div class="tab col-md-12 col-sm-12 col-xs-12">   
    <div class="tab-content panel-heading">
        @Model.Title
    </div>
    <div class="tab-content panel-primary">
        @Model.Skills
     </div>
    <div class="tab-content panel-default">
        @Model.JobDescription
    </div>
</div>
        
