@model CareerBlock



<div class="col-md-4 col-sm-12 col-xs-12 " style="outline:grey solid 1px">
    <div class="panel-heading">
        <h4> @Model.Title</h4>
    </div>
    <div class="panel-primary">
        @Model.Skills
    </div>
    <div class="panel-default">
        @Model.JobDescription
    </div>
</div>

