@using EPiServer.Core
@model ExternalLinksBlock
<ul>
    @foreach (var link in Model.Links)
    {
    <li>
        <a target="@link.Target" href="@Url.PageUrl(link.Href)">
            @link.Title
        </a>
    </li>
    }
</ul>