@using EPiServer.Core
@using DemoEpiServer
@model PageViewModel<DemoEpiServer.Models.Pages.StartPage>

<div class="container">
    @Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass = "row equal-height" })
</div>
