@using DemoEpiServer
@model PageViewModel<CareerPage> 

<h1 @Html.EditAttributes(x => x.CurrentPage.MetaTitle)>@Model.CurrentPage.MetaTitle</h1>

<div class="row">
   @Html.PropertyFor(x => x.CurrentPage.CareerContent, new { CssClass = "row equal-height", tag = Global.ContentAreaTags.FullWidth })
</div>


